footer {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    background-color: black;
    color: white;
    padding: 30px 15%;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 30px 10px;
    }
}